<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
    <title>Cool Score</title>
  </head>
    <body>
      <h1>Calculate Your Cool Score!</h1>
    </body>
    <form>
        Name:<br>
        <input type="text" name="name"><br>
        Age:<br>
        <input type="number" name="age"><br>
        Colour:<br>
        <input type="text" name="colour"><br>
        Height:<br>
        <input type="number" name="height"><br>
      </form>
</html>
